{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="row g-0 media content-section">
    <img class ='col-2 rounded-circle article-img' src="{{post.author.profile.image.url}}" alt="...">
    <div class="col-10 media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{%url 'profile'%}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
{% endfor %} {% endblock content %}
