{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="content-section">
    <div class="row g-0 media">
      <img class="col-md-4 rounded-circle account-img" src="{{user.profile.image.url}}">
      <div class="col-md-8 media-body py-4 ps-2">
        <h1 class="account-heading">{{user.username}}</h1>
        <p class="text-secondary">{{user.email}}</p>
      </div>
    </div>
    <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            <h2>Profile Info</h2>
          </legend>
          {{u_form|crispy}}
          {{p_form|crispy}}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-primary btn-sm" type="submit">Update</button>
        </div>
      </form>    
  </div>
 
{% endblock content %}
